<% provide :title, t(:home) %>
<h1><%= t(:sample_app) %></h1>
<p>
  <%= t(:this_is_the_home_page_for_the) %>
  <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>
