$light-gray: #777;
$cl-border-top: #eaeaea;
$cl-a-link: #555;
$cl-a-hover: #222;
$logo-hover: #fff;
$cl-logo: #fff;
$cl-border-input: #bbb;
$cl-border-bot-item: #eee;
$cl-border-top-micropost: #e8e8e8;
$cl-border-left-stat: #d3d3d3;
